	<div class="container-about">
		<div class="container">
			<div class="page-header" id="home">
				<h1 class="text-primary  text-center">ABOUT US</h1>
			</div>
			<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="/assets/images/image1.jpg"/>
			</div>
			<div class="col-md-6">
				<div>
				Nav tabs
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab" style="font-size:20px;">Mission</a></li>
					<li role="presentation"><a href="#goal" aria-controls="goal" role="tab" data-toggle="tab" style="font-size:20px;">Goal</a></li>
					<li role="presentation"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab" style="font-size:20px;">Vision</a></li>
				</ul>

				Tab panes
				<div class="tab-content">
					<br />
					<div role="tabpanel" class="tab-pane active text-justify" id="mission">To give every shelter animal a furever home and give the ultimate gift of love.
					<br />
					<button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
					</div>
					<div role="tabpanel" class="tab-pane text-justify" id="goal">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					<br />
					<button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
					</div>
					<div role="tabpanel" class="tab-pane text-justify" id="vision">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
					<br />
					<button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
